# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [3]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/CC_Fraud")

# Loading data for cardholder from the database
# Write the query
query = 'select *from(select *from(select *from(select * from "Credit_Card"left join "Transaction" on "Transaction".card = "Credit_Card".card) as v left join "Merchant" on "Merchant".id = v.id_merchant) as t left join "Merchant_Category" on "Merchant_Category".id= t.id_merchant_category) as k'

# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
df=pd.read_sql_query(query,engine)
df

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
0,3561954487988605,13,222,2018-01-01 21:35:10,6.22,3561954487988605,69,69,Dominguez PLC,5,5,food truck
1,5135837688671496,13,2045,2018-01-01 21:43:12,3.83,5135837688671496,85,85,Patton-Rivera,3,3,bar
2,213193946980303,10,395,2018-01-01 22:41:21,9.61,213193946980303,82,82,Day-Murray,5,5,food truck
3,4263694062533017,4,3309,2018-01-01 23:13:30,19.03,4263694062533017,5,5,Miller-Blevins,4,4,pub
4,4498002758300,18,567,2018-01-01 23:15:10,2.95,4498002758300,64,64,"Cline, Myers and Strong",1,1,restaurant
...,...,...,...,...,...,...,...,...,...,...,...,...
3495,4723783028106084756,15,1979,2018-12-31 01:24:15,4.84,4723783028106084756,106,106,Carter-Blackwell,4,4,pub
3496,4165305432349489280,10,2342,2018-12-31 03:33:28,3.26,4165305432349489280,64,64,"Cline, Myers and Strong",1,1,restaurant
3497,5361779664174555,19,948,2018-12-31 05:53:58,10.73,5361779664174555,19,19,Santos-Fitzgerald,4,4,pub
3498,4188164051171486,23,1168,2018-12-31 08:22:17,11.87,4188164051171486,54,54,Berry-Lopez,1,1,restaurant
3499,4723783028106084756,15,2476,2018-12-31 09:50:25,19.75,4723783028106084756,16,16,"Bryant, Thomas and Collins",4,4,pub

In [71]:
# Write function that locates outliers using standard deviation

def outliers_dev(ch_id):
    df_ch=df.loc[(df['cardholder_id']==ch_id)]
    # calculating standard deviation for amount
    df_ch_std=df_ch['amount'].std()
    # Identifying outliers:
    # Criterion: If a value is a certain number of standard deviations away from the mean, that data point is identified as an outlier. 
    # The specified number of standard deviations is called the threshold. The default value is 3. 
    # This method can fail to detect outliers because the outliers increase the standard deviation.

    df_ch_outliers=df_ch.loc[(df['amount']>((df_ch['amount'].mean())+(3*df_ch_std)))]
    return df_ch_outliers

In [74]:
# Find anomalous transactions for 3 random card holders
ch1=np.random.randint(1,25)
outliers_dev(ch1)

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
1109,3581345943543942,6,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,130,"Brown, Estrada and Powers",2,2,coffee shop
1796,3581345943543942,6,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,8,Russell-Thomas,1,1,restaurant
2117,3581345943543942,6,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,145,Hood-Phillips,3,3,bar
2360,3581345943543942,6,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,18,Romero-Jordan,5,5,food truck
2432,3581345943543942,6,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,138,Mccullough-Murphy,5,5,food truck

In [75]:
ch2=np.random.randint(1,25)
outliers_dev(ch2)

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
487,344119623920892,18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,95,Baxter-Smith,1,1,restaurant
925,344119623920892,18,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,100,Townsend-Anderson,1,1,restaurant
1508,344119623920892,18,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,123,"Boone, Davis and Townsend",4,4,pub
2425,344119623920892,18,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,72,Lopez-Kelly,1,1,restaurant
3095,344119623920892,18,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,18,Romero-Jordan,5,5,food truck
3324,344119623920892,18,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,8,Russell-Thomas,1,1,restaurant

In [79]:
ch3=np.random.randint(1,24)
outliers_dev(ch3)

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
27,3516952396080247,7,2650,2018-01-04 03:05:18,1685.0,3516952396080247,80,80,"Kelly, Dyer and Schmitt",5,5,food truck
484,3516952396080247,7,1480,2018-02-19 16:00:43,1072.0,3516952396080247,49,49,"Davis, Lowe and Baxter",5,5,food truck
1079,3516952396080247,7,1827,2018-04-18 23:23:29,1086.0,3516952396080247,26,26,Smith-Stephens,2,2,coffee shop
2142,3516952396080247,7,1424,2018-08-07 11:07:32,1449.0,3516952396080247,61,61,"Richardson, Smith and Jordan",5,5,food truck
3327,3516952396080247,7,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,83,Solis Group,5,5,food truck
3379,3516952396080247,7,1318,2018-12-18 17:20:33,1296.0,3516952396080247,87,87,Griffin-Woodard,3,3,bar

## Identifying Outliers Using Interquartile Range

In [86]:
# Write a function that locates outliers using interquartile range
def outliers_iqr(ch_id):
    df_ch=df.loc[(df['cardholder_id']==ch_id)]
    # calculating iqr for amount
    df_ch_iqr=df_ch['amount'].quantile(0.75)-df_ch['amount'].quantile(0.25)
    # calculating 3rd quartile (75th percentile) for amount
    qrt=df_ch['amount'].quantile(0.75)
    # Identifying outliers:
    # Criterion: Any value that is 1.5 x IQR greater than the third quartile is designated as an outlier 
    df_ch_outliers=df_ch.loc[(df['amount']>(qrt+1.5*df_ch_iqr))]
    return df_ch_outliers

In [88]:
# Find anomalous transactions for 3 random card holders ---USING SAME CARDHOLDERS AS BEFORE
outliers_iqr(ch1)

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
62,3581345943543942,6,1291,2018-01-08 02:34:32,1029.0,3581345943543942,145,145,Hood-Phillips,3,3,bar
563,3581345943543942,6,1842,2018-02-27 15:27:32,1145.0,3581345943543942,33,33,Vasquez-Parker,3,3,bar
671,3581345943543942,6,38,2018-03-09 04:51:38,389.0,3581345943543942,76,76,Lowe PLC,1,1,restaurant
1109,3581345943543942,6,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,130,"Brown, Estrada and Powers",2,2,coffee shop
1796,3581345943543942,6,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,8,Russell-Thomas,1,1,restaurant
2017,3581345943543942,6,1348,2018-07-24 22:42:00,1108.0,3581345943543942,35,35,Jarvis-Turner,4,4,pub
2117,3581345943543942,6,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,145,Hood-Phillips,3,3,bar
2360,3581345943543942,6,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,18,Romero-Jordan,5,5,food truck
2432,3581345943543942,6,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,138,Mccullough-Murphy,5,5,food truck
3190,3581345943543942,6,1408,2018-11-27 17:20:29,1279.0,3581345943543942,134,134,"Jenkins, Peterson and Beck",1,1,restaurant

In [90]:
outliers_iqr(ch2)

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
53,344119623920892,18,3457,2018-01-07 01:10:54,175.0,344119623920892,12,12,"Bell, Gonzalez and Lowe",4,4,pub
67,344119623920892,18,812,2018-01-08 11:15:36,333.0,344119623920892,95,95,Baxter-Smith,1,1,restaurant
487,344119623920892,18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,95,Baxter-Smith,1,1,restaurant
925,344119623920892,18,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,100,Townsend-Anderson,1,1,restaurant
1508,344119623920892,18,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,123,"Boone, Davis and Townsend",4,4,pub
1763,344119623920892,18,654,2018-06-30 01:56:19,121.0,344119623920892,20,20,Kim-Lopez,2,2,coffee shop
1832,344119623920892,18,560,2018-07-06 16:12:08,117.0,344119623920892,62,62,"Cooper, Carpenter and Jackson",5,5,food truck
1956,344119623920892,18,136,2018-07-18 09:19:08,974.0,344119623920892,19,19,Santos-Fitzgerald,4,4,pub
2363,344119623920892,18,2103,2018-09-02 11:20:42,458.0,344119623920892,10,10,Herrera Group,1,1,restaurant
2425,344119623920892,18,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,72,Lopez-Kelly,1,1,restaurant
3095,344119623920892,18,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,18,Romero-Jordan,5,5,food truck
3324,344119623920892,18,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,8,Russell-Thomas,1,1,restaurant

In [91]:
outliers_iqr(ch3)

,card,cardholder_id,id,date,amount,card,id_merchant,id,name,id_merchant_category,id,name
27,3516952396080247,7,2650,2018-01-04 03:05:18,1685.0,3516952396080247,80,80,"Kelly, Dyer and Schmitt",5,5,food truck
379,3516952396080247,7,2409,2018-02-09 11:38:37,445.0,3516952396080247,112,112,Greer Inc,3,3,bar
484,3516952396080247,7,1480,2018-02-19 16:00:43,1072.0,3516952396080247,49,49,"Davis, Lowe and Baxter",5,5,food truck
991,3516952396080247,7,408,2018-04-10 06:08:01,543.0,3516952396080247,63,63,Reed Group,5,5,food truck
1079,3516952396080247,7,1827,2018-04-18 23:23:29,1086.0,3516952396080247,26,26,Smith-Stephens,2,2,coffee shop
1366,3516952396080247,7,3377,2018-05-19 19:33:38,160.0,3516952396080247,24,24,"Rodgers, Johnston and Macias",5,5,food truck
1945,3516952396080247,7,721,2018-07-17 10:11:12,233.0,3516952396080247,73,73,Colon Ltd,3,3,bar
2142,3516952396080247,7,1424,2018-08-07 11:07:32,1449.0,3516952396080247,61,61,"Richardson, Smith and Jordan",5,5,food truck
3327,3516952396080247,7,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,83,Solis Group,5,5,food truck
3379,3516952396080247,7,1318,2018-12-18 17:20:33,1296.0,3516952396080247,87,87,Griffin-Woodard,3,3,bar